
footer{
    margin: auto;
    padding: 20px
}

.footer-container{

    justify-content: center;
    flex-direction: column;
    text-align: center;


}


.footer-block{
   
   
    display: inline-block;
    padding: 0px 8px 8px;
    vertical-align: top; 
    text-align: center;
 
   
  

}


.footer-block h4{

   
 
    font-weight: 600;
    
  

}


.block-content {
    padding: 10px 0px;
    font-size: var(--fs-300);

}

.media-icons{

    justify-content: center;
    
} 

@media screen and (min-width:600px){
   
  
    .footer-container{
        flex-direction: row;
        justify-content: space-around;
    }

    .media-icons{
        justify-content: left;
    }

    
    .footer-block{
        text-align: left;
    }
  


   
}






