.interior,
.food,
.clothes{
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    gap: 0;
}



.interior{
    background-image: url(../images/furniture-cat-image.jpg);
   
}

.food{
    background-image: url(../images/food-cat-image.jpg);
   
}

.clothes{
    background-image: url(../images/clothes-cat-image.jpg);
}