.interior,
.food,
.clothes{
    display: flex;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.interior{
    background-image: url(../images/furniture-cat-image.jpg); 
}

.food{
    background-image: url(../images/food-cat-image.jpg);
}

.clothes{
    background-image: url(../images/clothes-cat-image.jpg);
}

.hero-category-text{
    justify-content: center;
    font-size: 30px;
    height: 150px;
    min-width: 400px;
    background-color: rgba(255, 255, 255, 0.774);
    padding: 35px;
}

.hero-category-text h1{
   
    text-align: center;
   
}