/*----- Category navigation -----*/

.category-nav{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 4rem;
}

.category-div{
    height: 150px;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.category-text {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 70%;
    background-color:white; 
    opacity: 80%;
}

.category-div a{
    text-decoration: none;
}

.interior-link{
    background-image: url(../images/furniture-cat-image.jpg); 
}

.food-link{
    background-image: url(../images/food-cat-image.jpg); 
}

.clothes-link{
    background-image: url(../images/clothes-cat-image.jpg);
}


/*----- Line and Text section divider -----*/

.line-div h2 { 
    margin: 70px auto 50px;
    text-align: center;
    position:relative;
}

.line-div h2:before, 
.line-div h2:after {
    content: "";
    display:block;
    width: 15%;
    height:2px;
    background: rgb( var(--clr-light-green) );
    position: absolute;
    top: 50%;
    z-index: -2;  
}

.line-div h2:before {
    left: 0;
}

.line-div h2:after {
    right: 0;
}


/*----- Text section -----*/

.text-block{
    height: 300px;
    justify-content: center;
    align-content: center;
}

.text-block div{
    padding: 2rem;
    max-width: 750px;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-content: center;
    text-align: center;
    line-height: 1,7;
}

/*----- Media queries -----*/

@media screen and (min-width:800px){
    /* For desktop: */
  
    .category-nav{
        flex-direction: row;
    }

    .line-div h2:before, 
    .line-div h2:after {
        width: 25%;
    }
}