.my-page section{
  margin-top: 80px;
}

.my-page h2{
  margin-bottom: 15px;
}


.user-section{

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.user-buttons button{
  margin-right: 40px;
}

.my-ads-section{
  overflow-x: auto;
  
 
}

.my-ads-tabel{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb( var(--clr-light-green) );
   
}
tr:nth-child(even){background-color: #f2f2f2}

table, th {  
    border-bottom: 3px solid rgb( var(--clr-light-green) );
    text-align: left;
  }
  
  table {

    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 5px;
  }

  tr{
    border-bottom: 1px solid rgb( var(--clr-light-green) );
  }

  .avorit-ads-list .card {

    background-color: blue;

  }