.register-page{
    position: relative;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-inline: 2em;
    margin-inline: auto;
}

.register-container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 470px;
    border-radius: 10px;
    padding: 40px;
    max-width: 500px;
    text-align: center;
}

.register-container input, 
.register-container button,
.register-container a {
  width: 100%;
  padding: 12px 20px;
  display: block;
  margin: 8px 0;
  border: 1px solid rgb( var(--clr-dark) );
  border-radius: 4px;
}

.register-container h1 {
    margin-bottom: 20px;
}

.error-message{
    margin-top: 20px;
    color: red;
}