/* ------------------- */
/* Custom properties   */
/* ------------------- */


:root {
  /* colors */
  --clr-dark: 51, 61, 41, 1;
  --clr-light-green: 194, 197, 170, 1;
  --clr-white: 255, 255, 255, 1;


  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;


  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
  
}





/* ------------------- */
/* Reset               */
/* ------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

body{
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400); 
  color: rgb( var(--clr-dark) );
  background-color: rgb( var(--clr-white ) );
}

img,
picture {
  max-width: 100%;
  height: auto;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

ul,
li{
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-decoration: none;
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}



/* colors */


.bg-dark { background-color: rgb( var(--clr-dark) );}
.bg-accent { background-color: rgb( var(--clr-light-green) );}
.bg-white { background-color: rgb( var(--clr-white) );}

.text-dark { color: rgb( var(--clr-dark) );}
.text-accent { color: rgb( var(--clr-light-green) );}
.text-white { color: rgb( var(--clr-white) );}



/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}




/* ------------------- */
/* Compontents         */
/* ------------------- */

.large-button {
  position: relative;

  cursor: pointer;
  border: none;
  /* z-index: 1; */
  place-items: center;
  padding: .75em 2em;
  border-radius: 0 15px 15px 15px;
  text-decoration: none;
  color: rgb( var(--clr-white ) );
  background-color: rgb( var(--clr-dark) );
}


.large-button:hover {
  opacity: 0.8;
}

.large-button-primary {
  position: relative;
  cursor: pointer;
  border: none;
  width: 100%;
  border-radius: 2px;
  place-items: center;
  padding: .75em 2em;
  text-decoration: none;
  color: rgb( var(--clr-white ) );
  background-color: rgb( var(--clr-dark) );
}


.large-button-primary:hover {
  opacity: 0.8;
}



.medium-button-primary {
  position: relative;
  cursor: pointer;
  border: none;
  width: 100%;
  border-radius: 2px;
  place-items: center;
  padding: .75em 2em;
  text-decoration: none;
  color: rgb( var(--clr-white ) );
  background-color: rgb( var(--clr-dark) );
}


.medium-button-primary:hover {
  opacity: 0.8;
}


.small-button-primary {
  position: relative;
  cursor: pointer;
  border: none;
  width: 40px;
  border-radius: 2px;
  place-items: center;

  text-decoration: none;
  color: rgb( var(--clr-white ) );
  background-color: rgb( var(--clr-dark) );
}


.small-button-primary:hover {
  opacity: 0.8;
}



.underline-indicators > * {

  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  /* border-bottom: .2rem solid rgb( var(--clr-light-green) / 0 ); */
}


.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: rgb( var(--clr-light-green) / .5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  color: rgb( var(--clr-light-green) / 1);
  /* border-color: rgb( var(--clr-light-green) / 1); */
}

.tab-list {
  --gap: 2rem;
}





.primary-header{
  position: relative;
  width: 100%;
  min-height: 300px;
  padding: 0 5%;
  background:rgb( var(--clr-white) );
  flex-direction: column;
  border-bottom: 2px solid rgb( var(--clr-light-green) );
}

.primary-navigation {
  --gap: 4rem;
  --underline-gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: end;
  list-style: none;
  padding: 0;
  margin: 0;
}


.primary-navigation a {
  display: flex;
  gap: 2px;
  text-decoration: none;
  align-items: center;
}

/* Hover effect on activ link
.primary-navigation a.active {
  background-color: blueviolet;
} */





.hero-image {
  justify-content: center;
  align-items: center;
  background-image: url(./images/hero-image.jpg);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  margin: 5%;
  flex-direction: column;
  text-align: center;
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.774);
  padding: 35px;
}




.heart-icon-container{
    position: absolute;
    z-index: 1;
    
    right: 15px;
}



.ads{
  
  margin-top: 100px;

}


.ads-list{
/*   grid-template-columns: 250px 250px 250px 250px;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  justify-content: center;  */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  display: flex;

 
  width: 300px;
  box-shadow: 0 -10px 50px 0 rgb(0 0 0 / 10%);



  /* border: 1px solid rgb( var(--clr-light-green) ); */
  
  list-style: none;
  position: relative;
  text-align: center;
  flex-direction: column;
}


.ad-info {
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  margin-top: auto;
  text-align: left;
  margin-bottom: 10px;
}

.ad-image {
 
  
  height: 320px; 
  width: 100%;
 
}


.ad-image img{
  width:80%;
  height:100%;
  object-fit:contain;
}

/* @media (max-width: 600px) {
  .card {
    flex: 1 46%;
  }
} */

.error-message{
  margin-top: 20px;
  color: red;
}




  /* breadcrumbs */

  .breadcrumbs{
    max-width:1200px;
    margin: 20px auto;
  }

  .breadcrumbs > *{
    display: inline-block;
    margin-right: 10px;
  }

  .breadcrumbs .crumb:after{
    content: '/';
    margin-left: 10px;
  }

  .breadcrumbs .crumb:last-child::after{
    display: none;
  }

  .breadcrumbs .crumb a{
    color: blueviolet;
    text-decoration: none;
    
  }


  /* For tablets: */
  




 
  /* For desktop: */


/*---------------------------------------------------------*/




@media screen and (min-width:800px){
  /* For desktop: */

 

  .hero-text {
    position: absolute;
    top: 10%;
    left: 5%;
    margin: 0;

  }
  
    
  
}

